{% extends 'base.html.twig' %}

{% block title %}Nouveau Fabricant{% endblock %}

{% block body %}
    <h1>Créer un nouveau Fabricant</h1>

    {{ include('fabricant/_form.html.twig') }}

    <a href="{{ path('app_fabricant_index') }}">Retour à la liste</a>
{% endblock %}
