{% extends 'base.html.twig' %}

{% block title %}Nouveau Continent{% endblock %}

{% block body %}
    <h1>Créer un nouveau Continent</h1>

    {{ include('continent/_form.html.twig') }}

    <a href="{{ path('app_continent_index') }}">Retour à la liste</a>
{% endblock %}
