{% extends 'base.html.twig' %}

{% block title %}Nouvelle Vente{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Vente</h1>

    {{ include('vendre/_form.html.twig') }}

    <a href="{{ path('app_vendre_index') }}">Retour à la liste</a>
{% endblock %}
